/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	outline: none;
	transition: all 0.3s;
}
/** end reset css**/

/* variables declaration */
:root {
	--primary-color: #3D3D3D;
	--secondary-color: #1D6154;
	--third-color: #B1663C;
	--white-color: #fff;
	--black-color: #000;
	--hover-color: #0E2F28;
	--bg-color: #FFFEF8;
	--error-color: red;

	--primary-font: 'Work Sans';
	--secondary-font: 'Syne';
}

body {
	position: relative;
	max-width: 1140px;
	min-height: 100vh;
	margin: auto;
	padding: 0 20px;
	background-color: var(--bg-color);
	font-family: var(--primary-font);
	font-size: 14px;
	color: var(--primary-color);
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: var(--secondary-font);
	font-size: 22px;
	font-weight: 800;
	color: var(--third-color);
}

h1 > span {
	font-family: var(--primary-font);
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 30px;
	color: var(--secondary-color);
}

/* menu */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 20px;
}

nav a {
	font-size: 1.2em;
	color: var(--black-color);
}
nav .active a {
	font-weight: 700;
}
nav a:hover {
	color: var(--third-color);
}

.ico-insta {
	width: 22px;
	height: 22px;
}

/* introduction */
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* portfolio */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* formulaires contact et login */
#contact, 
#login {
	width: 379px;
	margin: auto;
}

#login {
	padding: 100px 0;
}

#contact > *, 
#login > * {
	text-align: center;
}

#contact h2, 
#login h2 {
	margin-bottom: 20px;
}

#contact .formulaire, 
#login .formulaire {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.formulaire input {
	height: 50px;
	padding: 0 10px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.formulaire label {
	margin: 2em 0 1em 0;
}

.formulaire textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.oubli a {
	color: var(--primary-color);
	text-decoration: underline;
}

.oubli a:hover {
	color: var(--third-color);
}

.txt-error {
	margin-bottom: 2em;
	color: var(--error-color);
}

input[type="submit"] {
	width: 179px;
	height: 36px;
	font-family: var(--secondary-font);
	font-weight: 700;
	color: var(--white-color);
	background-color: var(--secondary-color);
	margin : 2em auto 105px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	transition: all 0.3s;
}

input[type="submit"]:hover {
	background-color: var(--hover-color);
}

/* footer */
footer {
	display: flex;
	position: absolute;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	width: 100vw;
	height: 60px;
	padding: 0 2em;
	background-color: var(--white-color);
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
    width: 100%;
	max-width: 1140px;
    margin: auto;
}

/* filtres */
.filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 2.5rem;
}

.filtre-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	height: 37px;
	padding: 0 15px;
	background-color: var(--white-color);
	border: 1px solid var(--secondary-color);
	border-radius: 37px;
	font-family: var(--secondary-font);
	font-size: 16px;
	color: var(--secondary-color);
	cursor: pointer;
	transition: all 0.3s;
}

.filtre-btn:hover, 
.filtre-on {
	background-color: var(--secondary-color);
	color: var(--white-color);
}

/* homepage version connectée */
.show-logged, 
.logged .hide-logged {
	display: none;
}
.logged .show-logged, 
.hide-logged {
	display: flex;
}

.bandeau {
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
	width: 100vw;
	height: 60px;
	background-color: var(--black-color);
	font-size: 16px;
	color: var(--white-color);
}

